<h3><%= @current_user.username.capitalize %>'s DymePieces</h3>
<ul class="nav nav-pills nav-stacked">
<li class="active"><a href="/dymepieces">Browse DymePieces</a></li>
</ul>

<% @dymepieces.reverse.each do |dymepiece| %>
  <div class="dymepiece">
    <h3><a href="/dymepieces/<%= dymepiece.id %>"><%= dymepiece.topic %></a></h3>
  </div>

  <form action='/dymepieces/delete/<%= dymepiece.id %>', method='post'>
    <div>
    <input type="submit" value="Delete">
  </div>
</form>
<% end %>
