<h3><%= @current_user.username.capitalize %>'s DymePieces</h3>
<ul class="nav nav-pills nav-stacked">
<li class="active"><a href="/dymepieces">Browse DymePieces</a></li>
</ul>

<% if @current_user && @current_user.valid? %>
	<a href="/dymepieces/new">Make a DymePiece</a>
	<a href="/users/session/logged_out">Log out</a>
	<% else %>
	<span class="label label-success">
    <a href="/users/signup">Signup here!</a>
  </span>
  <span class="label label-success">
	 <a href="/users/login">Log in</a>
  </span>
<% end %>

<% @dymepieces.reverse.each do |dymepiece| %>
  <div class="dymepiece">
    <h3><a href="/dymepieces/<%= dymepiece.id %>"><%= dymepiece.topic %></a></h3>
  </div>

  <form action='/dymepieces/delete/<%= dymepiece.id %>', method='post'>
    <div>
    <input type="submit" value="Delete">
  </div>
</form>
<% end %>
