<% if @current_user && @current_user.valid? %>
	<h3>Welcome <%= @current_user.username.capitalize %>!</h3>
	<a href="/dymepieces/new">Make a DymePiece</a>
	<a href="/users/profile">My DymePieces</a>
	<a href="/users/session/logged_out">Log out</a>
	<% else %>
	<a href="/users/signup">Signup here!</a>
	<a href="/users/login">Log in</a>
<% end %>



