<div class="jumbotron" id="edit">
<form action='/dymepieces', method='post'>

  <div>
    <label>DymePiece Topic:</label>
    <input type="text" name="topic" size="60" value="<%= @dymepiece && @dymepiece.topic %>">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>
</div>