<div class="jumbotron" id="edit">
<form action='/dymepieces/items/<%= @item.id %>/edit_item', method='post'>
  <div>
    <label>Description:</label>
    <input type="text" name="description" size="60" value="<%= @item.description %>" >
  </div>
  <div>
    <label>Image URL:</label>
    <input type="text" name="img_url" size="60" value="<%= @item.img_url %>">
  </div>
  <br>
    <div>
    <input type="submit" value="Submit">
  </div>
</form>
</div>



