<a href="/dymepieces/new">Back</a>


<form action='/items', method='post'>

	<% 1.upto(10) do |i|
  	img_url = ("img_url" + i.to_s).to_sym
  	description = ("description" + i.to_s).to_sym %>

  <div>

    <label>Description</label>
    <input type="text" name="description" value="<%= %>" >
  </div>
  <input type="hidden" name="dymepiece_id" value="<%=@dymepiece.id%>">
   <div>
    <label>Image URL</label>
    <input type="text" name="img_url" value="<%= img_url %>">
  </div>
  <br>

  <% end %>

    <div>
    <input type="submit" value="Submit">
  </div>
</form>