<div class="jumbotron" id="menu">
<h1>Top 10 <%= @dymepiece.topic %></h1>
<h3><a class="label label-success" href="/dymepieces/new">Edit Topic</a></h3></div>

<div class="jumbotron" id="edit">
<form action='/items', method='post'>

	<% 1.upto(10) do |i|
  	img_url = ("img_url" + i.to_s)
  	description = ("description" + i.to_s) %>

  <div>
    <label>Describe it:</label>
    <input type="text" name="<%= description %>" size="60">
  </div>
  
   <div>
    <label>Image URL:</label>
    <input type="text" name="<%= img_url %>" size="60">
  </div>
  <br>

  <% end %>
    <input type="hidden" name="dymepiece_id" value="<%=@dymepiece.id%>">
    <div>
    <input type="submit" value="Submit">
  </div>
</form></div>