<h1>Dyme</h1>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/dymepieces">Browse DymePieces</a></li>
<% if @current_user && @current_user.valid? %>
	<a href="/dymepieces/new">Make a DymePiece</a>
	<a href="/users/profile/<%= @current_user.id %>">My DymePieces</a>
	<a href="/users/session/logged_out">Log out</a>
	<% else %>
	<li><a href="/users/signup">Signup here!</a></li>
	<li><a href="/users/login">Log in</a></li></ul>
<% end %>