<div class="jumbotron" id="menu">
<h1>Dyme</h1>
  <p>Create, view, share, and comment on custom Top 10 lists called DymePieces</p>
    <p><a href="/dymepieces" class="btn btn-primary btn-lg" role="button">Browse DymePieces</a>
<% if @current_user && @current_user.valid? %>
	<a href="/dymepieces/new" class="btn btn-primary btn-lg" role="button">Make a DymePiece</a>
	<a href="/users/profile/<%= @current_user.id %>" class="btn btn-primary btn-lg" role="button">My DymePieces</a>
	<a href="/users/session/logged_out" class="btn btn-primary btn-lg" role="button">Log out</a>
	<% else %>
	<a href="/users/signup" class="btn btn-primary btn-lg" role="button">Signup here!</a>
	<a href="/users/login" class="btn btn-primary btn-lg" role="button">Log in</a></p>
<% end %></div>