<div class="jumbotron">
<h1>Dyme</h1>
  <!-- <ul class="nav nav-pills nav-stacked"> -->
    <!--<li class="active">-->
    <p><a href="/dymepieces" class="btn btn-primary btn-lg" role="button">Browse DymePieces</a></p>
<% if @current_user && @current_user.valid? %>
	<p><a href="/dymepieces/new" class="btn btn-primary btn-lg" role="button">Make a DymePiece</a></p>
	<p><a href="/users/profile/<%= @current_user.id %>" class="btn btn-primary btn-lg" role="button">My DymePieces</a></p>
	<p><a href="/users/session/logged_out" class="btn btn-primary btn-lg" role="button">Log out</a></p>
	<% else %>
	<a href="/users/signup">Signup here!</a>
	<a href="/users/login">Log in</a>
<% end %></div>